
.BirdCentral {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    filter: brightness(200%);
}


nav a:hover {
    background-color: lightcyan;
}
.Booker {
    background-color: lightblue;
    border: none;
    border-radius: 2vh;
    position: absolute;
    top: 55vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 3vh 3vw;
    font-size: 4vh;
}
.Booker:hover{
    background-color: lightcyan;
    
}
.Footer {
    background-color: white;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    font-size: 1rem;
    margin: auto;
}
